<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>
<h3>게시판 목록입니다.</h3>
<ul>
  <li><a href="" th:href="@{/bbs/add}">게시글 등록</a></li>
  <li><a href="" th:href="@{/dev/test-login}">로그인</a></li>
  <li><a href="" th:href="@{/members/join}">회원가입</a></li>
  <li><a href="" th:href="@{/bbs/community}">게시글관리(CSR)</a></li>

</ul>
</body>
</html>